.crossed-text{
    text-decoration-line: line-through;
    color: gray;
}

.default-text{
    text-decoration-line: none;
    color: black;
}
.flex{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.list{
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}